__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

.venv/
venv/

.env

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.ipynb_checkpoints/

.DS_Store

imgui.ini

outputs/
.envrc
wandb/
.pixi/
